<template>
    <div class="wrapper" id="app">
	    <header class="main-header">
	        <router-link to="/" class="logo">
	            <span class="logo-mini"><b>My</b>FI</span>
	            <span class="logo-lg"><b>MyFootball</b>Index</span>
	        </router-link>
	        <nav class="navbar navbar-static-top">
	            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>

	            <div class="navbar-custom-menu">
	                <ul class="nav navbar-nav">
	                    <li>
	                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
	                    </li>
	                </ul>
	            </div>
	        </nav>
	    </header>

	    <aside class="main-sidebar" id="adminSidebar">
	        <section class="sidebar">
	            <!-- Contact Requests -->
	            <ul class="sidebar-menu" data-widget="tree">
	                <li class="treeview">
	                    <a href="#">
	                        <i class="fa fa-money"></i> <span>Dividends</span>
	                    </a>
	                    <ul class="treeview-menu">
	                        <li>
	                            <router-link :to="{name: 'ContactManage'}">
	                            	Overview <i class="fa fa-list"></i>
	                            </router-link>
	                        </li>
	                    </ul>
	                </li>
	            </ul>
	        </section>
	    </aside>

	    <div class="content-wrapper clearfix">
	        <router-view></router-view>
	    </div>

	    <footer class="main-footer">
	        <div class="pull-right hidden-xs">
	            <b>Admin</b> Panel
	        </div>
	        Copyright &copy; 2017 <strong>My Football Index</strong>
	    </footer>

	    <aside class="control-sidebar control-sidebar-dark">
	        <div class="col-md-12">
	            <h4>Settings</h4>
	        </div>
	    </aside>


	    <div class="control-sidebar-bg">
	    </div>
	</div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
}
</script>