<template>
    <div class="col-sm-12">
    	<div class="box">
    		<div class="box-header with-border">
    			hello
    		</div>
    	</div>
	</div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
}
</script>